<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{#css}}
        <link href="{{url}}" rel="stylesheet">
    {{/css}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="green yellow-text">
<nav>
    <div class="nav-wrapper green">
        <a href="{{home}}" class="brand-logo right yellow-text">Digital Footprint Profile</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            {{#nav}}
                <li class="{{active}}"><a class="yellow-text" href="{{url}}">{{title}}</a></li>
            {{/nav}}
        </ul>
        <ul class="side-nav green" id="mobile">
            {{#nav}}
                <li class="{{active}}"><a class="yellow-text" href="{{url}}">{{title}}</a></li>
            {{/nav}}
        </ul>
    </div>
</nav>