{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>404
                    <small>Page Not Found</small>
                </h1>
                <p>Sorry, that page isn't found!</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}