{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Digital Footprint Profile</h1>

                <p>Digital Footprint Profile is a service created by <a class="yellow-text text-darken-1"
                                                                        href="http://zacharydubois.me">Zachary James
                    DuBois</a> at request of <a class="yellow-text text-darken-1" href="http://rhnet.org">Rush-Henrietta
                    Central School District</a>. The project was created to help attending students realize what they
                    have been posting online for everyone to view. The issue exists since not everyone wants their feeds
                    being spammed with garbage, harassment, and just overall hate. Since your employer and possibly even
                    your college will look at your profile when you apply, it is better to keep things clean now before
                    your footprint is too deep.</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}