{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Digital Footprint Profile</h1>

                <p>Digital Footprint Profile is a service created by <a class="yellow-text text-darken-1" href="http://zacharydubois.me">Zachary James DuBois</a> at request of <a class="yellow-text text-darken-1" href="http://rhnet.org">Rush-Henreitta Central School District</a>. This project is based off the idea of
                    filtering the content you should post online. Many profiles online contain junk that no one wants to read so this service helps you find and remove that content. This is a voluntary service and the source code is licenced under
                    the MIT license and is publicly available (See link in the footer).</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}