{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Welcome
                    <small>to Digital Footprint Profile</small>
                </h1>
                <p>This tool lets you review content that our scoring algorithm deems harmful to your digital footprint.
                    This is really handy to keep your profile clean for employers, colleges, and friends.</p>
                <h3>Get Started:</h3>
                <ol>
                    <li>Click the <em>Start Authorizing</em> button.</li>
                    <li>Click each social media account you'd like to scan.</li>
                    <li>View your results.</li>
                    <li>Optionally email them to yourself to look at later.</li>
                </ol>
            </div>
        </div>
        <div class="col l12 m12 s12">
            <div class="center">
                <a href="{{sessionLink}}" class="btn btn-block btn-large green darken-2 yellow-text">Start
                    Authorizing</a>
            </div>
        </div>
    </div>
</div>
{{> footer}}