{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Results</h1>
                <p>Below are the results of our scan. Please note that this is scored by a machine and can be
                    inaccurate. Please report any inaccuracies.</p>
                <p>The higher points means it triggered more of our algorithms. Please review the ones with higher
                    scores first.</p>
            </div>

            <div class="col l12 m12 s12">
                <p>Digital Footprint Profile has scanned {{total}} of your posts and {{flagged}} of them scored 3 or
                    higher.</p>
            </div>
            <div class="col l12 m12 s12">
                {{#posts}}
                    <div class="card green darken-1">
                        <div class="card-content yellow-text">
                            <span class="card-title">Score: {{score}}/10</span>
                            <p>{{content}}.</p>
                        </div>
                        <div class="card-action">
                            <a href="{{url}}" target="_blank">Link {{tags}}</a>
                        </div>
                    </div>
                {{/posts}}
            </div>
        </div>
    </div>
</div>
{{> footer}}