{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Start</h1>
                <p>Get started by authorizing apps below. When you're done, just click finish.</p>
                <p>Please note: When you authorize the application, it may take awhile to load as we have to fetch your
                    profile contents. The more content you have on your profile, the longer it takes. <b>Please do not
                        refresh after authorizing.</b></p>
                <h3>Limits</h3>
                <ul>
                    <li>Twitter only allows the request of the previous 3,200 tweets.</li>
                </ul>
            </div>

            <div class="col l12 m12 s12">
                {{#loginButtons}}
                    <a href="{{url}}"
                       class="btn btn-block btn-large green darken-2 yellow-text {{classes}}">{{text}}</a>
                {{/loginButtons}}
                <a href="{{listURL}}" class="btn btn-block btn-large green darken-2 yellow-text">Next</a>
            </div>
        </div>
    </div>
</div>
{{> footer}}