{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Start</h1>
                <p>Get started by logging in with your social networks below.</p>
                <p>Note: Upon authorizing a network, the page may load slowly. Please do not refresh as our system is
                    grabbing your posts.</p>
                <h3>Limitations</h3>
                <ul>
                    <li>Twitter: Last 3,200 tweets.</li>
                    <li>Facebook: Only text posts are parsed. Attempts to pull last 3,200 posts.</li>
                </ul>
            </div>

            <div class="col l12 m12 s12">
                {{#loginButtons}}
                    <a href="{{url}}"
                       class="btn btn-large green darken-2 yellow-text {{classes}}">{{text}}</a>
                {{/loginButtons}}
                <a href="{{listURL}}" class="btn btn-large green darken-2 yellow-text">Next</a>
            </div>
        </div>
    </div>
</div>
{{> footer}}