{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Terms</h1>
                <!-- TODO: Write privacy -->
                <p>Need to write a terms description.</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}