{{> header}}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Welcome
                    <small>to Digital Footprint Profile</small>
                </h1>
                <p>This service lets you review the content you post on social media from day to day. It is as simple as authorizing your different social media accounts read access to this service. Upon doing so, your posts will be filtered by
                    programmatic rules that contain keywords, overall tone, and more. This service will not delete your posts that it flags. You will have the option to email this to yourself after you finish authorizing.</p>
                <h3>Get Started:</h3>
                <ol>
                    <li>Click the <em>Start Authorizing</em> button.</li>
                    <li>Click on each social media account your would like to authorize.</li>
                    <li>View your results.</li>
                    <li>Optionally email them to yourself.</li>
                </ol>
            </div>
        </div>

        <div class="center">
            <a href="{{home}}/session" class="btn btn-block btn-large {{primaryColor}} darken-2 {{secondaryColor}}-text">Start Authorizing</a>
        </div>
    </div>
</div>
{{> footer}}